@import "tailwindcss";

@theme {
  --background: #171717;
  --foreground: #171717;
  --primary: #171717;
  --primary-foreground: #ffffff;
  --color-primary: #171717; /* RGB values of #0070f3 for Tailwind */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

